---
import Layout from "@/layouts/Layout.astro";
---

<!-- <input type="checkbox" id="switch" class="" /> -->
<div class="crt">
  <Layout title="Ben">
    <main>
      <div class="overlay">AV-1</div>
      <!-- <img src={stageSelect} alt="stage select" class="stage-select" /> -->
      <!-- <p style="font-family: MMRock9, 'Press Start 2P', sans-serif">WEB DEV</p> -->
      <div
        class="game-container w-full h-[800px] flex justify-center items-center sm:mt-10 -mt-24"
      >
        <div id="joystick-zone" class="absolute w-[50%] h-[100vh] left-0 hidden"></div>
        <div id="button-zone" class="absolute w-[50%] h-[100vh] right-0 hidden">
          <img
            src="/sprites/a-button.png"
            id="a-button"
            class="absolute w-[50px] h-[50px] top-[75%] right-[40%] hidden"
          />
        </div>
        <canvas id="game"></canvas>
        <div id="ui"></div>
      </div>
      <script src="/src/excal/main.ts"></script>
    </main>
  </Layout>

  <style>
    @import "../styles/styles.scss";
  </style>
</div>

<script>
  // const switchEl = document.getElementById("switch");
  // const crtEl = document.querySelector(".crt");
  // const overlayEl = document.querySelector(".overlay");

  // switchEl.addEventListener("change", () => {
  //   if (switchEl.checked) {
  //     crtEl.classList.add("crt-on");
  //     overlayEl.classList.add("overlay-on");
  //   } else {
  //     crtEl.classList.remove("crt-on");
  //     overlayEl.classList.remove("overlay-on");
  //   }
  // });
</script>
