---
import Layout from "@/layouts/Layout.astro"
import Card from "@components/Card.astro"

const stageSelect =
  "../mega_man_stage_select_template_by_evilasio2_deztn1x-pre.png"
---

<input type="checkbox" id="switch" class="" />
<div class="crt">
  <Layout title="Ben Roth">
    <main>
      <div class="overlay">AV-1</div>
      <!-- <img src={stageSelect} alt="stage select" class="stage-select" /> -->
      <!-- <p style="font-family: MMRock9, 'Press Start 2P', sans-serif">WEB DEV</p> -->
      <div
        class="game-container w-full sm:h-[850px] h-full flex justify-center items-center"
      >
        <div id="joystick-zone" class="absolute w-[40%] h-[40%]">
      </div>
      <canvas id="game"></canvas>
      <div id="ui"></div>
    </main>
    <script src="/src/excal/main.ts"></script>
  </Layout>
</div>

<style>
  @import "../styles/styles.scss";
</style>
